{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="wall">
    <div class="card mb-3" style="max-width: 540px; border-radius:0px;">
        <div class="row g-0" style="border-radius:0px;">
            <div class="col-md-4" style="border-radius:0px;">
                <img src="/static/bite_sandwich.jpg" class="img-fluid rounded-start" alt="Iyk-sandwich image"
                    style="height: 100%; width: auto; border-radius:0px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Welcome to Iyk-sandwich</h5>
                    <p class="card-text">We serve the city's choice and favourite sandwiches, served with salads,
                        coleslaw and other sides.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <h3>IYK-SANDWICHES </h3>
    <p>The city's best</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="/static/sandwich-toast.jpg" class="card-img-top" alt="toasted sandwich image">
            <div class="card-body">
                <h5 class="card-title">Toasted Sandwich</h5>
                <p class="card-text">We serve various selections of toasted sandwiches, depending on your preference.
                    Take a look at our <a href="/product">menu</a> to see various options you can choose from.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/afternoon-tea.jpg" class="card-img-top" alt="bite sandwich image">
            <div class="card-body">
                <h5 class="card-title">Afternoon Tea Sandwiches</h5>
                <p class="card-text">We also do afternoon teas, where you get varieties of traybakes and sandwiches.
                    These go with your choiced teas or coffee.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/sandwich_salad.jpg" class="card-img-top" alt="sandwich salad image">
            <div class="card-body">
                <h5 class="card-title">Salads</h5>
                <p class="card-text">Our salads are served fresh, cool and clean. It comes in a mix of crispy
                    vegetables, carrots, cherry tomatoes, red onions and other greens.
                    We strive to ensure you have your five (5) a day dietery needs met.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/restuarant.jpg" class="card-img-top" alt="restuarant image">
            <div class="card-body">
                <h5 class="card-title">Our restuarant space</h5>
                <p class="card-text">You and your friends have the option to sit and dine in our state of the art
                    restuarant facility in the heart of the city.
                    Our facitities are one of the best the city offers. Make it a date here with us.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/customer_service.jpg" class="card-img-top" alt="customer service image">
            <div class="card-body">
                <h5 class="card-title">Excellent Service</h5>
                <p class="card-text">We are always here to help and listen to your needs. Do well to reach out to our
                    team if you have any concerns about our products or your dietary needs.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/static/staff.jpg" class="card-img-top" alt="staff image">
            <div class="card-body">
                <h5 class="card-title">Our Team</h5>
                <p class="card-text">Our team is made up of professionals from all works of life. We are committed to
                    offering you the best service
                    you have always dreamed of.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}